body {
    min-height: 100vh;
    background: url("../img/bg-blue-flow-lg.png") no-repeat fixed;
    background-size: cover;
}

.cont-fill {
    min-height: 100%;
    height: 100%;
}

.checkbox-icon {
    color: #18cb18;
}

.crossbox-icon {
    color: #d31616;
}

.noto-light {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 200;
}

.noto-regular {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 400;
}

.noto-bold {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 600;
}

.noto-black {
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 800;
}

.krona {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.schedule-selector:hover {
    background: #0b3b94 !important;
}

.bg-menu {
    background: #e0e3e7;
    color: azure !important;
}

.bg-menu-text {
    color: #194b8a !important;
}

.bg-dropdown {
    background: #c7d5e5;
}

.bg-dropdown-item:hover {
    background: #96abd9;
}

.bg-dropdown-divider {
    color: #3d5483;
}

.card-hover-darken:hover {
    background: rgba(0,0,0,0.65) !important;
}

.link-no-underline {
    text-decoration: none;
}
