<nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-25 px-2">
    <div class="container">
    <a class="navbar-brand" href="#">FlightBooker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/routes">Routes</a>
            </li>
            {% if current_user.is_active and current_user.is_validated() %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dashboard
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Search Flights</a>
                        <a class="dropdown-item" href="#">View/Make Bookings</a>
                        <a class="dropdown-item" href="#">Account Management</a>
                        <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                </li>
                {% if current_user.is_admin() %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Search Flights</a>
                        <a class="dropdown-item" href="#">View/Make Bookings</a>
                        <a class="dropdown-item" href="#">Account Management</a>
                    </div>
                </li>
                {% endif %}
            {% elif current_user.is_active and not current_user.is_validated() %}
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard/validate">Validate</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>