{% extends "_base.jinja" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 p-2">
                <table class="table bg-dark bg-opacity-50 text-light rounded"  style="border-color: slategray">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th class="text-center">Active</th>
                            <th class="text-center">Validated</th>
                            <th class="text-center">Admin</th>
                        </tr>
                    </thead>
                    <tbody style="border-color: slategray">
                        {% for user in user_data %}
                            <tr style="border-color: slategray">
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td class="text-center">{% if user.active %}<h5 class="bi-check-square checkbox-icon"></h5>
                                {% else %}<h5 class="bi-x-square crossbox-icon"></h5>{% endif %}</td>
                                <td class="text-center">{% if user.validated %}<h5 class="bi-check-square checkbox-icon"></h5>
                                {% else %}<h5 class="bi-x-square crossbox-icon"></h5>{% endif %}</td>
                                <td class="text-center">{% if user.admin %}<h5 class="bi-check-square checkbox-icon"></h5>
                                {% else %}<h5 class="bi-x-square crossbox-icon"></h5>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}