{% extends "_base.jinja" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 p-2">
                <table class="table bg-dark bg-opacity-50 text-light rounded" style="border-color: slategray">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Model</th>
                            <th>Registration</th>
                            <th>Capacity</th>
                            <th>Maintenance Date</th>
                            <th>Retired</th>
                            <th>Edit Aircraft</th>
                        </tr>
                    </thead>
                    <tbody style="border-color: slategray">
                        {% for aircraft in fleet_data %}
                            <tr  style="border-color: slategray">
                                <td>{{ aircraft.id }}</td>
                                <td>{{ aircraft.model }}</td>
                                <td>{{ aircraft.registration }}</td>
                                <td>{{ aircraft.capacity }}</td>
                                <td>{{ aircraft.maintenance_due }}</td>
                                <td>{{ aircraft.retired }}</td>
                                <td><a href="/admin/fleet/edit/{{ aircraft.id }}"><button class="btn btn-secondary">Edit</button></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}