{% extends "_base.jinja" %}

{% block main %}
    <div class="row">
        <div class="col-sm-8 p-2">
            <div class="border">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Designation</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Seats</th>
                            <th>Aircraft</th>
                            <th>Return Of</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in booking_data %}
                            <tr>
                                <td>{{ booking.get("Booking ID") }}</td>
                                <td>{{ booking.get("User Email") }}</td>
                                <td>{{ booking.get("Flight Designation") }}</td>
                                <td>{{ booking.get("Departure Airport ICAO") }} - {{ booking.get("Departure") }} (UTC {{ booking.get("Departure Offset") }})</td>
                                <td>{{ booking.get("Arrival Airport ICAO") }} - {{ booking.get("Arrival") }} (UTC {{ booking.get("Arrival Offset") }})</td>
                                <td>{{ booking.get("Booked Seats") }}</td>
                                <td>{{ booking.get("Aircraft Model") }} ({{ booking.get("Aircraft Registration") }})</td>
                                <td>{{ booking.get("Original Booking ID") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4 p-2">
            <div class="border"></div>
        </div>
    </div>
{% endblock %}