{% extends "_base.jinja" %}

{% block main %}
    <div class="row my-3">
        <p>Our fleet consists of three modern, high-spec models, each of which perfectly suits the routes they take.</p>
    </div>
    <div class="row my-3 justify-content-center">
        <div class="col-sm-4 p-3">
            <div class="border border-secondary rounded p-2 text-center">
                <h3>SyberJet SJ30i</h3>
                <img src="/static/img/syberjet.jpg" class="img-fluid rounded">
                <p>The SyberJet SJ30i is the pride of our fleet, and with good reason - with seating for 6 in divine comfort and service that
                rivals first class in modern airliners, no stone has been left unturned as we strive to offer a truly uncompromised experience.</p>
            </div>
        </div>
        <div class="col-sm-4 p-3">
            <div class="border border-secondary rounded p-2 text-center">
                <h3>HondaJet Elite</h3>
                <img src="/static/img/hondajet.jpg" class="img-fluid rounded">
                <p>Our two HondaJet Elite aircraft take the premium aircraft experience to the next level - while small, they offer excellent comfort for
                five passengers, while significantly reducing commute times relative to an equivalent turboprop aircraft.</p>
            </div>
        </div>
        <div class="col-sm-4 p-3">
            <div class="border border-secondary rounded p-2 text-center">
                <h3>Cirrus SF50</h3>
                <img src="/static/img/cirrus.jpg" class="img-fluid rounded">
                <p>The Cirrus SF50 represents a turn in design philosophies, easily seen in its unique shape and layout. With this, our two SF50s have improved
                travel times, while still retaining passenger comforts that put airline travel to shame.</p>
            </div>
        </div>
    </div>
{% endblock %}