{% extends "_base.jinja" %}

{% block main %}
    <div class="row">
        <div class="col-9 p-2">
            <div class="border">
                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>Designation</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in booking_data %}
                            <tr>
                                <td>{{ booking.get("Flight Designation") }}</td>
                                <td>{{ booking.get("Departure Airport Name") }} <br> {{ booking.get("Departure").strftime("%-I:%M %p (UTC %z) <br> %-d %b %Y") }}</td>
                                <td>{{ booking.get("Arrival Airport Name") }} <br> {{ (booking.get("Arrival")).strftime("%-I:%M %p (UTC %z) <br> %-d %b %Y") }}</td>
                                <td><button class="btn btn-primary" onclick="updateBookingSidebar(
                                        '{{ booking.get("Flight Designation") }}',
                                        '{{ booking.get("Departure").strftime("%-d %b %Y") }}',
                                        '{{ booking.get("Departure Airport Name") }}',
                                        '{{ booking.get("Departure").strftime("%-I:%M %p (UTC %z)") }}',
                                        '{{ booking.get("Arrival Airport Name") }}',
                                        '{{ booking.get("Arrival").strftime("%-I:%M %p (UTC %z)") }}',
                                        '{{ booking.get("Aircraft Model") }} ({{ booking.get("Aircraft Registration") }}',
                                        '{{ booking.get("Creation").strftime("%x %X") }}',
                                        '{{ booking.get("Booking ID") }}',
                                        '{% if booking.get("Return Booking ID") %}{{ booking.get("Return Booking ID") }}{% elif booking.get("Origin Booking ID") %}{{ booking.get("Origin Booking ID") }}{% else %}{% endif %}')">
                                        Details
                                </button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3 p-2" id="book-sidebar" style="visibility: hidden">
            <div class="border p-2">
                <h6><strong>Designation: </strong></h6><h6 id="book-sidebar-dsg"></h6><br>
                <h6><strong>Flight Date: </strong></h6><h6 id="book-sidebar-date"></h6><br>
                <h6><strong>Departure Airport: </strong></h6><h6 id="book-sidebar-dpt-ap"></h6><br>
                <h6><strong>Departure Time: </strong></h6><h6 id="book-sidebar-dpt-tm"></h6><br>
                <h6><strong>Arrival Airport: </strong></h6><h6 id="book-sidebar-arr-ap"></h6><br>
                <h6><strong>Arrival Time: </strong></h6><h6 id="book-sidebar-arr-tm"></h6><br>
                <h6><strong>Aircraft: </strong></h6><h6 id="book-sidebar-aircraft"></h6><br>
                <h6><strong>Booking Created: </strong></h6><h6 id="book-sidebar-created"></h6><br>
                <a id="conf-link" href="#"><button class="btn btn-primary">View Confirmation</button></a>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel Booking</button>
            </div>
        </div>
    </div>
    <div class="modal" id="cancelModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Confirm Cancellation</h3>
                </div>
                <form method="post">
                <div class="modal-body">
                    <p>Are you sure you want to cancel? These flights may not be available to re-book.</p>
                    {{ cancel_form.csrf_token }}
                    {{ cancel_form.booking_id }}
                    {{ cancel_form.related_id }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ cancel_form.submit(class_="btn btn-danger") }}
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}