{% extends "_base.jinja" %}

{% block main %}

<h1>Booking Page</h1>

<form method=post class="form-group">
    {{ searchform.csrf_token }}
    <dl>
        {{ searchform.start_airport.label }}
        {{ searchform.start_airport(class_="form-control") }}
        {{ searchform.end_airport.label }}
        {{ searchform.end_airport(class_="form-control") }}
        {{ searchform.date_start_selector.label }}
        {{ searchform.date_start_selector(class_="form-control") }}
        {{ searchform.date_end_selector.label }}
        {{ searchform.date_end_selector(class_="form-control") }}
        {{ searchform.submit }}
    </dl>
</form>

{% endblock %}