{% extends "_base.jinja" %}

{% block main %}

<h1>Booking Page</h1>
<h3>Listing flights from:</h3><br>
<p>{{ airport_data[0].name }}</p><br>
<h3>To:</h3><br>
<p>{{ airport_data[1].name }}</p><br>
<h3>Between:</h3>
<p>{{ searchform.date_start_selector.data }} and {{ searchform.date_end_selector.data }}</p>
<img src="/static/img/{{ airport_data[0].icao.lower() }}-{{ airport_data[1].icao.lower() }}.gif" class="img-fluid rounded-end">
{% for flight in results %}{% if flight.get("Aircraft Capacity") - flight.get("Scheduled Seat Bookings") > 0 %}
    <div class="row mb-3 rounded">
        <div class="col-2 m-0 p-2 border rounded-start">
            <h5 class="noto-bold"><strong>{{ flight.get("Flight Designation") }}</strong></h5>
            <h6 class="noto-bold">({{ flight.get("Departure Airport ICAO") }} <span class="bi bi-arrow-right"></span> {{ flight.get("Arrival Airport ICAO") }}) </h6>
            <h6 class="noto-bold">{{ flight.get("Schedule Date") }}</h6>
            <h6 class="noto-regular">{{ flight.get("Aircraft Model") }}</h6>
        </div>
        <div class="col-8 m-0 p-2 border border-start-0 noto-regular">
            <p>Departs {{ flight.get("Departure Airport Name") }} at {{ flight.get("Start Leg Departure") }}</p>
            <p>Arrives at {{ flight.get("Arrival Airport Name") }} at {{ flight.get("End Leg Arrival") }}</p>
            {% if flight.get("Stops") == 1 %}
            <p>{{ flight.get("Stops") }} intermediate stop</p>
            {% elif flight.get("Stops") > 1 %}
            <p>{{ flight.get("Stops") }} intermediate stops</p>
            {% else %}
            <p>Direct Flight</p>
            {% endif %}
            <p>Seats available: {{ flight.get("Aircraft Capacity") - flight.get("Scheduled Seat Bookings") }}</p>
            <p>Price: ${{ flight.get("Price") }}</p>
        </div>
        <div class="col-2 m-0 p-2 border border-start-0 rounded-end bg-primary text-white schedule-selector"
             data-bs-toggle="modal" data-bs-target="#exampleModal"
             onclick="updateSelectForm({{ flight.get("Schedule ID") }},
                     {{ current_user.id }}, {{ flight.get("Start Leg ID") }}, {{ flight.get("End Leg ID") }},
                     {{ flight.get("Aircraft Capacity") - flight.get("Scheduled Seat Bookings") }})">
            <h5>Book Flight</h5>
        </div>

    </div>
{% endif %}{% endfor %}


    <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% if returning %}Return {% endif %}Booking Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method=post class="form-group">
                <div class="modal-body">
                    {{ selectform.csrf_token }}
                    {{ selectform.schedule_id }}
                    {{ selectform.startleg_id }}
                    {{ selectform.endleg_id }}
                    {{ selectform.user_id }}
                    {% if returning %}
                    {{ selectform.original_id(value=original_flight) }}
                    {% elif not returning %}
                    {{ selectform.return_ticket.label(class_="form-check-label") }}
                    {{ selectform.return_ticket(class_="form-check-input") }}<br>
                    {% endif %}
                    {{ selectform.ticket_number.label }}
                    {{ selectform.ticket_number(class_="form-control", min=1, max=1) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ selectform.submit(class_="btn btn-primary") }}
                </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}