{% extends "_base.jinja" %}

{% block main %}

    <div class="row">
        <div class="col-12">
            <h1>Booking Confirmation</h1>
            <h4>If any details of this confirmation are incorrect, please contact us as soon as possible to rectify.</h4>
        </div>
    </div>

{% endblock %}