{% extends "_base.jinja" %}

{% block main %}
<div class="container">
    <div class="row my-3">
        <div class="col-12 py-5">
            <h1 class="text-center display-2 noto-light text-light">
                Welcome to FlightBooker
            </h1>
            <h5 class="text-center noto-regular text-light">
                Premiere Air Travel's online booking system
            </h5>
        </div>
    </div>
    <div class="row align-items-center justify-content-center my-3">
        <div class="col-6 py-3 h-100">
            <p class="lead text-center noto-regular text-light">
                Premiere Air Travel is an up-and-coming prestige jet travel provider. We operate a number of small but luxurious jets and service a range of routes that
                are neglected by larger carriers, as well as offering a premium and personalised service in exceeding comfort relative to an economy jet - all offered
                with competitive pricing!
            </p>
        </div>
    </div>
    <div class="row my-5 py-3 row-eq-height justify-content-center">
        <div class="col-md-4 px-4 mb-1">
            <a href="/routes" class="link-no-underline">
            <div class="text-center text-light bg-dark bg-opacity-50 rounded p-4 h-100 card-hover-darken">
                <h3><i class="fa-solid fa-route"></i> Scheduled Routes</h3>
                <p class="noto-regular">We currently service 5 different routes, from short flights over to Great Barrier Island, to our premium service all the way over to Sydney. Click here
                to see more details.
                </p>
            </div>
            </a>
        </div>
        <div class="col-md-4 px-4 mb-1">
            <a href="/aircraft" class="link-no-underline">
            <div class="text-center text-light bg-dark bg-opacity-50 rounded p-4 h-100 card-hover-darken">
                <h3><i class="fa-solid fa-plane"></i> Our Fleet</h3>
                <p class="noto-regular">Our fleet consists of 5 aircraft, across three different models, each catered to suit the particular route it services. We haven't held anything back -
                    all of our aircraft have been purchased brand new and are the premium option in their respective lineup. Click here for more info.
                </p>
            </div>
            </a>
        </div>
        <div class="col-md-4 px-4 mb-1">
            <a href="/dashboard/book" class="link-no-underline">
            <div class="text-center text-light bg-dark bg-opacity-50 rounded p-4 h-100 card-hover-darken">
                <h3><i class="fa-solid fa-magnifying-glass"></i> Search & Book</h3>
                <p class="noto-regular">Book a flight, or just see what dates/times we currently offer. Note that you will need to create an account to use our booking service.
                </p>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}