{% extends "_base.jinja" %}

{% block main %}

<h1>Registration Page</h1>

<form method=post class="form-group">
    {{ form.csrf_token }}
    <dl>
        {{ form.email.label }}
        {{ form.email(class_="form-control") }}
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
        {{ form.confirm.label }}
        {{ form.confirm(class_="form-control") }}
        {{ form.first_name.label }}
        {{ form.first_name(class_="form-control") }}
        {{ form.surname.label }}
        {{ form.surname(class_="form-control") }}
    </dl>
    <p><input type="submit" value="Register">
</form>

{% endblock %}