{% extends "_base.jinja" %}

{% block main %}
    <div class="row my-3">
        <p>Premiere Air Travel offers 5 primary routes, as shown below. Please contact us for information on charter flights, if our standard routes don't quite suit your needs.</p>
    </div>
    <div class="row my-3 justify-content-center row-eq-height">
        <div class="col-sm-4 p-1">
            <div class="border border-secondary rounded p-2 text-center h-100">
                <h3>Prestige Service</h3>
                <img src="/static/img/nzne-yssy.gif" class="img-fluid rounded mb-1">
                <img src="/static/img/yssy-nzne.gif" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-sm-4 p-1">
            <div class="border border-secondary rounded p-2 text-center h-100">
                <h3>Rotorua Shuttle</h3>
                <img src="/static/img/nzne-nzro.gif" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-sm-4 p-1">
            <div class="border border-secondary rounded p-2 text-center h-100">
                <h3>Great Barrier Shuttle</h3>
                <img src="/static/img/nzne-nzgb.gif" class="img-fluid rounded">
            </div>
        </div>
    </div>
    <div class="row my-3 justify-content-center row-eq-height">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 p-1">
            <div class="border border-secondary rounded p-2 text-center h-100">
                <h3>Chatham Service</h3>
                <img src="/static/img/nzne-nzci.gif" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-sm-4 p-1">
            <div class="border border-secondary rounded p-2 text-center h-100">
                <h3>Rotorua Shuttle</h3>
                <img src="/static/img/nzne-nzro.gif" class="img-fluid rounded">
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}