{% extends "_base.jinja" %}

{% block main %}

    <div class="container form-page">
        <div class="row align-items-center justify-content-center form-page">
            <div class="col-sm-4 rounded bg-dark bg-opacity-50 mt-3 p-0 text-light">
                <h2 class="noto-bold text-center pt-4">Search Flights</h2><br>
                <form method=post class="form-group border-top border-1 p-3 border-secondary">
                    {{ searchform.csrf_token }}
                    <dl class="mb-0">
                        {{ searchform.start_airport.label }}
                        {{ searchform.start_airport(class_="form-control") }}
                        <br>
                        {{ searchform.end_airport.label }}
                        {{ searchform.end_airport(class_="form-control") }}
                        <br>
                        {{ searchform.date_start_selector.label }}
                        {{ searchform.date_start_selector(class_="form-control") }}
                        <br>
                        {{ searchform.date_end_selector.label }}
                        {{ searchform.date_end_selector(class_="form-control") }}
                        <br>
                        {{ searchform.submit(class_="btn btn-primary") }}
                    </dl>
                </form>
            </div>
        </div>
    </div>

{% endblock %}