{% extends "_base.jinja" %}

{% block main %}


<div class="container form-page">
        <div class="row align-items-center justify-content-center form-page my-5">
            <div class="col-sm-4 rounded p-4 bg-dark bg-opacity-50 mt-3">
                <form method=post class="form-group">
                    {{ form.csrf_token }}
                    <dl>
                        {{ form.email.label(class_="text-light noto-bold") }}
                        {{ form.email(class_="form-control") }}
                        <br>
                        {{ form.password.label(class_="text-light noto-bold") }}
                        {{ form.password(class_="form-control") }}
                        <br>
                        {{ form.confirm.label(class_="text-light noto-bold") }}
                        {{ form.confirm(class_="form-control") }}
                        <br>
                        {{ form.first_name.label(class_="text-light noto-bold") }}
                        {{ form.first_name(class_="form-control") }}
                        <br>
                        {{ form.surname.label(class_="text-light noto-bold") }}
                        {{ form.surname(class_="form-control") }}
                        <br>
                        {{ form.submit(class_="btn btn-primary noto-bold") }}
                    </dl>
                </form>
            </div>
        </div>
    </div>
{% endblock %}