{% extends "_base.jinja" %}

{% block main %}
    <div class="container">
        <div class="row my-3 justify-content-center">
            <div class="col-8 py-5">
                <h2 class="text-center display-2 noto-light text-light">
                    Our Routes
                </h2>
                <h5 class="text-center noto-regular text-light">
                    Thanks to extensive research and customer surveying, we've refined our standard routes and offer
                    five options that were neglected in the market, as listed below. Don't worry if you'd like to head
                    somewhere else though - we offer chartered flights too! Contact us for more details.
                </h5>
            </div>
        </div>

        <div class="row my-3 justify-content-center">
            <div class="card mb-3 p-0  bg-dark bg-opacity-50" style="max-width: 800px;">
                <div class="row g-0">
                    <div class="col-md-4 text-light text-opacity-75">
                        <img src="/static/img/nzne-nzro-yssy-nzne.gif" class="img-fluid rounded-start" alt="...">
                        <h4 class="card-img-overlay noto-bold">Sydney</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-light">
                            <h4 class="card-text">SyberJet SJ30i | 6 Seats | Weekly Service</h4>
                            <p class="card-text">We offer a once-weekly prestige service on our SyberJet SJ30i, departing Dairy Flat
                            on Friday morning, stopping off in Rotorua, and then flying over to Sydney International Airport.
                            The return is direct to Dairy Flat, and leaves mid-afternoon (AEST) on Sunday.</p>
                            <p class="card-text">This service is offered with our top-notch premium service standards, including
                            meal service and included satellite WiFi internet - this is an experience to rival the best.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3 justify-content-center">
            <div class="card mb-3 p-0  bg-dark bg-opacity-50" style="max-width: 800px;">
                <div class="row g-0">
                    <div class="col-md-4 text-light text-opacity-75">
                        <img src="/static/img/nzne-nzro.gif" class="img-fluid rounded-start" alt="...">
                        <h4 class="card-img-overlay noto-bold">Rotorua</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-light">
                            <h4 class="card-text">Cirrus SF50 | 4 Seats | Weekday Service</h4>
                            <p class="card-text">One of our SF50 jets is dedicated to a twice-daily weekday service from Dairy
                            Flat to Rotorua and back. This departs Dairy Flat early morning each day, and again late afternoon,
                            returning about three hours after arrival.</p>
                            <p class="card-text">The Cirrus SF50 is deceptively comfortable, with business-class accomodation
                            and features such as satellite WiFi and integrated entertainment systems.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3 justify-content-center">
            <div class="card mb-3 p-0  bg-dark bg-opacity-50" style="max-width: 800px;">
                <div class="row g-0">
                    <div class="col-md-4 text-light text-opacity-75">
                        <img src="/static/img/nzne-nzgb.gif" class="img-fluid rounded-start" alt="...">
                        <h4 class="card-img-overlay noto-bold">Great Barrier</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-light">
                            <h4 class="card-text">Cirrus SF50 | 4 Seats | Triweekly Service</h4>
                            <p class="card-text">Our second SF50 runs a triweekly service, flying from Dairy Flat to Great
                            Barrier Island on Monday, Wednesday and Friday, and returning on Tuesday, Thursday and Saturday.
                            Each of these flights departs mid-morning.</p>
                            <p class="card-text">The Cirrus SF50 is deceptively comfortable, with business-class accomodation
                            and features such as satellite WiFi and integrated entertainment systems.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3 justify-content-center">
            <div class="card mb-3 p-0  bg-dark bg-opacity-50" style="max-width: 800px;">
                <div class="row g-0">
                    <div class="col-md-4 text-light text-opacity-75">
                        <img src="/static/img/nzne-nzci.gif" class="img-fluid rounded-start" alt="...">
                        <h4 class="card-img-overlay noto-bold">Chatham Islands</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-light">
                            <h4 class="card-text">HondaJet Elite | 5 Seats | Biweekly Service</h4>
                            <p class="card-text">The first of our two HondaJet Elite aircraft is operated on a twice-weekly
                            service to and from the Chatham Islands. While it's a relatively long flight, our state-of-the-art
                            HondaJet flies higher and faster and makes the flight breeze by.</p>
                            <p class="card-text">HondaJet's premium offering, the Elite, is fitted out for comfort. As with all our aircraft,
                            the HondaJet offers integrated satellite wireless internet and a truly premium private aircraft experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-3 justify-content-center">
            <div class="card mb-3 p-0  bg-dark bg-opacity-50" style="max-width: 800px;">
                <div class="row g-0">
                    <div class="col-md-4 text-light text-opacity-75">
                        <img src="/static/img/nzne-nzci.gif" class="img-fluid rounded-start" alt="...">
                        <h4 class="card-img-overlay noto-bold">Tekapo</h4>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-light">
                            <h4 class="card-text">HondaJet Elite | 5 Seats | Weekly Service</h4>
                            <p class="card-text">Our second HondaJet Elite runs a weekly service down to Tekapo with no compromises
                            on service quality or travel times. Leaving on a Monday and returning on a Friday, it's perfect for those
                            week-long getaways to the beautiful South Island.</p>
                            <p class="card-text">HondaJet's premium offering, the Elite, is fitted out for comfort. As with all our aircraft,
                            the HondaJet offers integrated satellite wireless internet and a truly premium private aircraft experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}